main {
    .previews {
        display: flex;
        flex-direction: column;
        gap: 1em;

        & > .item {
            background: var(--panel--background);
            backdrop-filter: var(--panel--backdrop-filter);
        }
    }
}
