main {
    .content {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        background: var(--panel--background);
        backdrop-filter: var(--panel--backdrop-filter);
    }
}
